# Archivos grandes
datasets/SBW-vectors-300-min5.txt


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code
.vscode/
*.code-workspace
.history

# Environment variables
.env
.env.local
.env.*.local

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# IDE specific files
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db